{% extends "base.html" %}
{% block extra-style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'account.style.css' %}" />
{% endblock extra-style %}
{% block title %}登入{% endblock title %}
{% block content %}
    <div class="container">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert" style="text-align: center">
            請輸入正確的使用者名稱和密碼。請注意兩者皆區分大小寫。
        </div>
        {% endif %}
        <form class="form-signin" method="POST" action=".">
            {% csrf_token %}
            <div class="form-signin-heading">
                <h2>猜數字</h2>
            </div>
            <label for="username" class="sr-only">User name</label>
            <input type="username" id="username" name="username" class="form-control" placeholder="User name" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">登入</button>
            <div style="text-align:right;">
                <a href="{% url 'accounts:user_signup' %}">還沒有帳號？</a>
            </div>
        </form>
    </div>
{% endblock content %}