<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block extra-meta %}{% endblock extra-meta %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
        {% block extra-style %}{% endblock extra-style %}
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
